:root {
    overflow-y: hidden;
}

body {
	background-image:url('media/image1.png');
	background-position:center,center;
	background-repeat:no-repeat,no-repeat;
	background-size:cover,cover;
	max-width:100vw;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
    margin: none;
}

.page {
	display: grid;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(6, 1fr);
	height: 100vh;
	width: 100vw;
}

.greet {
	grid-row: 4/5;
	grid-column: 3/5;
}

.clock {
	grid-row: 1/2;
	grid-column: 7/7;
}

@media screen and (max-width:768px) {

    
}